<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <script>
    var config = {
      apiKey: "AIzaSyAxWlpB3OJN3FDf7PsgIaKh5zitPWIKce0",
      authDomain: "vanoos-git.firebaseapp.com",
      databaseURL: "https://vanoos-git.firebaseio.com",
      projectId: "vanoos-git",
      storageBucket: "vanoos-git.appspot.com",
      messagingSenderId: "90208314826"
    };
    firebase.initializeApp(config);
  </script>


  <script src="js/angular-ui-router.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/fastfonts.js">
    loadFont('OpenSans', 'fonts/opensans.css', 'fonts/opensans2.css');
  </script>
  <link rel="preload" href="style.css" as="style" onload="this.rel='stylesheet'">
  <script src="js/loadCSS.js"></script>
  <noscript><link rel="stylesheet" href="style.css"></noscript>
  <script id="loadcss">
    loadCSS("style.css", document.getElementById("loadcss"));
  </script>
  <script defer src="js/jquery-3.1.1.min.js"></script>
  <title>UIBrush.</title>
</head>
<main ng-controller="headerController">

  <body>
    <header id="myHeader">

      <div ng-click="ShowMenu()" id=dmenu>
        <div id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div id="menu">
          <ul>
            <li><a href="#aboutus">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contactus">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="htext">
        <h1>THE ULTIMATE COLLECTION OF  FREE PSD TEMPLATES!!</h1>
        <a href="#" ng-click="left()" id="left" class="button">
          <<</a>
            <a href="#" ng-click="ShowOrHide()" id="download" class="button">download</a>
            <a href="#" ng-click="right()" id="right" class="button">>></a>
      </div><br>

    </header>

    <div id="pop1" class="b-popup" style="opacity: 0; display: none; width:40vw;">
      <div class="inpList" ng-controller="subController">
        <form name="signup_form" ng-submit="submitFunc()" novalidate>
          <label>E-Mail</label>
          <input class="ptxt" type="email" name="email" ng-model="email" />
          <label>Name</label>
          <input class="ptxt" type="text" name="text" ng-model="text" />
          <label>Comment</label>
          <input class="ptxt" type="text" name="comment" />
          <a href="#" ng-click="submitFunc()" id="psubmit" class="button">Submit</a>
          <a href="#" ng-click="ShowOrHide()" id="pforget" class="button">Forget</a>
        </form>
        <div id="txtf"></div>
      </div>
    </div>


</main>

<div id="aboutus" class="aboutus" tabindex="-1">
  <h3>About Us</h3>
  <p>Lorem ipsum dolor sit amet tetuer adipiscing elit, sed diam non #5</p>
  <div class="my-flex-container">
    <div class="cblock">
      <img class="chsize" alt="car" src="images/car.png">
    </div>
    <div id="sec" class="cblock">
      <h5>Lorem ipsum dolor sit amet adipisicing elit.</h5>
      <div ui-view></div>
    </div>
  </div>
</div>



<div class="container">
  <div ng-controller="portController" id="portfolio" class="portfolio" tabindex="-1">
    <h3>portfolio</h3>
    <p>Lorem ipsum dolor sit amet tetuer adipiscing elit, sed diam non #5</p><br>
    <div class="my-flex-container" id="flex">

      <div ng-repeat="img in flexblocks" class="fimg">
        <div class="bc" style="background-image: url(images/{{img.url}}.jpeg);"></div>
        <div class="fcaption">{{img.text1}}</div>
        <div class="fcaption2">{{img.text2}}</div>
      </div>

    </div>
  </div>

  <div ng-controller="servController" id="services" class="services" tabindex="-1">
    <h3>services</h3>
    <p>Lorem ipsum dolor sit amet tetuer adipiscing elit, sed diam non #5</p>

    <div class="my-flex-container">
      <div class="fblock" ng-repeat="service in services">
        <img class="img" alt="photograpy" ng-src="{{service.src}}" />
        <div class="caption">{{service.caption}}</div>
        <div class="ftext">{{service.ftext}}</div>
        <button ng-click="ReadMore($index)" id="info" data-n={{$index}} class="fbutton">Read More</button>
      </div>
    </div>

    <div id="pop2" class="b-popup" style="display: none; left: 5vw; right: 5vw;">
      <div ng-model="data" id="txtf">{{data.info}}</div>
    </div>

  </div>

</div>
<div class="container">
  <div id="contactus" class="contactus" tabindex="-1">
    <h3>contact us</h3>
    <p>Lorem ipsum dolor sit amet tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
    <div class="my-flex-container">
      <div class="cblock">
        <h5>contact info</h5>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero accumsan et. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </div>
        <h5>address</h5>
        <div class="text">
          1931 Dawson Drive,<br> 15th Avenue, <br>Little Rock, AR 72211
        </div>
      </div>

    </div>
  </div>
</div>

<footer>Copyright © 2014 UIBrush.</footer>
<div id="hl" class="hide-layout" hidden="true"></div>
</body>

</html>
